header {
  top: 0;
  width: 100%;
  height: 20px;
  background-color: #265ed0;
  margin: 0;
}
.header_input {
  border:none;
  text-decoration: underline;
}
.header_contents {
  display: flex;
   justify-content: flex-start;
}
.header_section {
  display: flex;
}
.header_section input{
  padding: 0px;
}
.header_section select{
  padding: 0px;
}
